# Dependency directories
node_modules/
bower_components/

# System Files
.DS_Store
Thumbs.db

# Environment files
.env

# Build outputs
/dist
/assets/dist
/build
/.sass-cache

# IDE settings
.vscode/

# Firebase
.firebaserc
firebase.json
/public
/.firebase
